# Funciones de Prueba

Este notebook puede ser utilizado para probar las funciones en `functions.py`.

In [5]:
# Importo la función de conexión a la base de datos para poder usarla en el notebook
try:
    from functions import connect_to_supabase
    print('Successfully imported connect_to_supabase from functions.py')
except ImportError as e:
    print(f'Error importing function: {e}')
    print('Make sure functions.py is in the same directory or in the Python path.')

Successfully imported connect_to_supabase from functions.py

In [7]:
# cargo las variables de entorno (.env)
from dotenv import load_dotenv

load_dotenv()

True

In [8]:
# pruebo la conexión a la base de datos - si este paso da error, hay algo mal en el .env

supabase_client = connect_to_supabase()

In [9]:
# importo la función de ejecución de queries para poder usarla en el notebook
try:
    from functions import execute_query
    print('Successfully imported execute_query from functions.py')
except ImportError as e:
    print(f'Error importing function: {e}')
    print('Make sure functions.py is in the same directory or in the Python path.')

Successfully imported execute_query from functions.py

In [10]:
# defino una query de prueba para probar la conexión a la base de datos (esta query va a ser distinta en cada caso según la tabla que se quiera probar)

query = "SELECT * FROM usuarios"

In [11]:
execute_query(query)

   id    usuario    contraseña tipo_usuario
0   1     admin1     adminpass        admin
1   2  empleado1  empleadopass     empleado
2   3  empleado2  empleadopass     empleado

In [12]:
from functions import get_usuario_by_credentials   

# --- Funciones auxiliares ---
def login_user(username, password):
    df = get_usuario_by_credentials(username, password)
    if not df.empty:
        return df
    return False

In [15]:
login_user("admin1", "adminpass")

   id usuario tipo_usuario
0   1  admin1        admin